@model LearningApp.ViewModels.CourseViewModel
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Course </h2>
@using (Html.BeginForm("Save", "Courses"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Course.Name)
        @Html.TextBoxFor(m => m.Course.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Course.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Course.Introduction)
        @Html.TextBoxFor(m => m.Course.Introduction, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Course.Introduction)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Course.WhyLearn)
        @Html.TextBoxFor(m => m.Course.WhyLearn, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Course.WhyLearn)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Course.TakeAwaySkills)
        @Html.TextBoxFor(m => m.Course.TakeAwaySkills, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Course.TakeAwaySkills)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Course.Prerequisites)
        @Html.TextBoxFor(m => m.Course.Prerequisites, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Course.Prerequisites)
    </div>
    <div class="form-group">
        @Html.Label("Language")
        @Html.DropDownListFor(m => m.Course.LanguageId, new SelectList(Model.Languages, "Id", "Name"), "Select language", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Course.LanguageId)
    </div>
    <div class="form-group">
        @Html.Label("Category")
        @Html.DropDownListFor(m => m.Course.CategoryId, new SelectList(Model.Categories, "Id", "Name"), "Select category", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Course.CategoryId)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Course.TimeToComplete)
        @Html.TextBoxFor(m => m.Course.TimeToComplete, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Course.TimeToComplete)
    </div>


    @Html.HiddenFor(m => m.Course.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>
}

@section scripts
{
    @Scripts.Render("~/Scripts/jquery.validate.js")
}

